@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{

    --footer-background-color: linear-gradient(90deg, rgba(253, 195, 0, 1) 0%, rgba(220, 88, 28, 1) 35%, rgba(199, 59, 33, 1) 100%);
    --margin-wrapper: 10px;
    --footer-heigth: 350px;
    --footer-width: 90%;
    --font-size: 14px;


    --footer-height-calc: calc(var(--footer-heigth)/2);
    --footer-logos-width: calc(var(--footer-width) - 70%);
    --footer-logos-height: calc(var(--footer-width) - var(--footer-height-calc));

    --footer-links-fontsize: clamp(1rem, 1vw, 2.5rem);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    font-size: var(--font-size);
    letter-spacing: 1px;
}

.footer{
    width: 100%;
    color: white;
}

.footer__wrapper{
    background: var(--footer-background-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
}

.footer__logos{
    height: var(--footer-logos-height);
}

.footer__logos_links{
    display: flex;
    gap: 20px;
}

.footer__logos_link{
    color: white;
    text-decoration: none;
}

.footer__list-navigation{
    text-decoration: none;
    list-style: none;
}

.footer__link{
    transition: all 0.4s;
}
.footer__link:hover{
    color: rgb(190, 185, 185);
}

.footer__socials_links{
    display: flex;
    flex-direction: row;
    font-size: var(--footer-links-fontsize);
    height: var(--footer-links-fontsize);
    gap: 15px;
    
}

.footer__socials-link{
    text-decoration: none;
    color: white;
    transition: all 0.4s;
}

#footer__facebook:hover{
    color: blue;
}
#footer__instagram:hover{
    color: palevioletred;
}
#footer__twitter:hover{
    color: black;
}

